body {
	color:black;
	background-color:#86d5fe;
	font-family:Arial, Helvetica, sans-serif;
}

h1 {
	font-family:"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	text-shadow:0 1px 1px white;
	font-size:3.5em;
	padding:0.5em 0 0;
	text-transform:uppercase;
}
